In [1]:
print ("Walter")

Walter

In [2]:
print("Olá mundo")

Olá mundo

In [3]:
x = 10
nome = 'aluno'
nota = 8.75
fez_inscricao = True

print(type(x))
print(type(nome))
print(type(nota))
print(type(fez_inscricao))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [4]:
nome = input("Digite um nome: ")
print(nome)

Digite um nome: Walter
Walter

# 3 formas diferentes de imprimir texto e variável em Python

In [5]:
print("Olá %s, bem vindo a disciplina de programação. Parabéns pelo seu primeiro hello world" % (nome))

Olá Walter, bem vindo a disciplina de programação. Parabéns pelo seu primeiro hello world

In [7]:
print("Olá {}, bem vindo a disciplina de programação. Parabéns pelo seu primeiro hello world".format(nome))

Olá Walter, bem vindo a disciplina de programação. Parabéns pelo seu primeiro hello world

In [8]:
print(f"Olá {nome}, bem vindo a disciplica de programação. Parabéns pelo seu primeiro hello world")

Olá Walter, bem vindo a disciplica de programação. Parabéns pelo seu primeiro hello world

# Qual o resultado armazenado na variável operacao_1: 25 ou 17?

In [9]:
operacao_1 = 2 + 3 * 5

# Qual o resultado armazenado na variável operacao_2: 25 ou 17?

In [11]:
operacao_2 = (2 + 3) * 5

# Qual o resultado armazenado na variável operacao_3: 25 ou 17?

In [12]:
operacao_3 = 4 / 2 ** 2

# Qual o resultado armazenado na variável operacao_4: 25 ou 17?

In [14]:
operacao_4 = 13 % 3 + 4

In [15]:
print(f"Resultado em operacao_1 = {operacao_1}")
print(f"Resultado em operacao_2 = {operacao_2}")
print(f"Resultado em operacao_3 = {operacao_2}")
print(f"Resultado em operacao_4 = {operacao_2}")

Resultado em operacao_1 = 25
Resultado em operacao_2 = 25
Resultado em operacao_3 = 25
Resultado em operacao_4 = 25

In [16]:
print(f"Resultado em operacao_1 = {operacao_1}")
print(f"Resultado em operacao_2 = {operacao_2}")
print(f"Resultado em operacao_3 = {operacao_3}")
print(f"Resultado em operacao_4 = {operacao_4}")

Resultado em operacao_1 = 25
Resultado em operacao_2 = 25
Resultado em operacao_3 = 1.0
Resultado em operacao_4 = 5

In [17]:
print(f"Resultado em operacao_1 = {operacao_1}")
print(f"Resultado em operacao_2 = {operacao_2}")
print(f"Resultado em operacao_3 = {operacao_3}")
print(f"Resultado em operacao_4 = {operacao_4}")

Resultado em operacao_1 = 25
Resultado em operacao_2 = 25
Resultado em operacao_3 = 1.0
Resultado em operacao_4 = 5

In [18]:
2 + 3 * 5

17

In [20]:
print(f"Resultado em operacao_1 = {operacao_1}")
print(f"Resultado em operacao_2 = {operacao_2}")
print(f"Resultado em operacao_3 = {operacao_3}")
print(f"Resultado em operacao_4 = {operacao_4}")

Resultado em operacao_1 = 17
Resultado em operacao_2 = 25
Resultado em operacao_3 = 1.0
Resultado em operacao_4 = 5

In [23]:
a = 2
b = 0.5
c= 1
x = input("Digite o valor de x: ")

x = float(x) # aqui fazemos a conversão da string para o tipo numérico

y = a * x ** 2 + b * x + c

print(f"O resultado de y para x = {x} é {y}.")

Digite o valor de x: 3
O resultado de y para x = 3.0 é 20.5.

In [22]:
print(type(a))
print(type(b))
print(type(c))
print(type(x))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>

In [25]:
c = 200 # valor constante

mes = input("Digite o mês que deseja saber o resultado: ") # Função para captura o mês que o cliente digitar
mes = int(mes) # Não esqueça de converter para numérico o valor captura pela função input()

r = c * mes

print(f"A quantidade de peças para o mês {mes} será {r}")

Digite o mês que deseja saber o resultado: 3
A quantidade de peças para o mês 3 será 600

In [30]:
a = 5
b = 10

if a < b:
    print("a é menor do que b")
    r = a + b
    print(r)

a é menor que b
15

In [31]:
a = 10 
b = 5
if a < b:
    print("a é menor que b")
    r = a + b
    print(r)
else:
    print("a é maior do que b")
    r = a - b
    print(r)

a é maior do que b
5

In [32]:
codigo_compra = 5111

if codigo_compra == 5222:
    print("Compra à vista.")
elif codigo_compra == 5333:
    print("Compra à prazo no boleto.")
elif codigo_compra == 5444:
    print("Compra à prazo no cartão.")
else:
    print("Código não cadastrado")

Código não cadastrado

In [34]:
qntde_faltas = int(input("Digite a quantidade de faltas: "))
media_final = float(input("Digite a média: "))

if qntde_faltas <= 5 and media_final >= 7:
    print("Aluno aprovado!")
else:
    print("Aluno reprovado!")

Digite a quantidade de faltas: 4
Digite a média: 5
Aluno reprovado!

In [38]:
A = 15
B = 60
C = 9

print(B == C or A < B and A < C)
print((B == C or A < B) and A < C )

False
False

Assim como as operações matemáticas possuem ordem de precedência, as operações booleanas também têm. Essa prioridade obedece à seguinte ordem: not primeiro, and em seguida e or por último

In [40]:
numero = 1
while numero != 0:
    numero = int(input("Digite um número: "))
    if numero % 2 == 0:
        print("Número par!")
    else:
        print("Número ímpar!")

Digite um número: 3
Número ímpar!
Digite um número: 2
Número par!
Digite um número: 0
Número par!

In [41]:
nome = "Walter"
for i, c in enumerate(nome):
    print(f"Posição = {i}, valor = {c}")

Posição = 0, valor = W
Posição = 1, valor = a
Posição = 2, valor = l
Posição = 3, valor = t
Posição = 4, valor = e
Posição = 5, valor = r

In [42]:
# Método 1
for i in range(10):
    print(i)

# Método 2
for i in range(0, 5):
    print(i)
    
#Método 3
for i in range(0, 20, 2):
    print(i)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
0
2
4
6
8
10
12
14
16
18

In [45]:
disciplina = "Linguagem de programação"
for c in disciplina:
    if c == 'a':
        break
    else:
        print(c)

L
i
n
g
u

In [46]:
# Exemplo de uso do continue
disciplina = "Linguagem de programação"
for c in disciplina:
    if c == 'a':
        continue
    else:
        print(c)

L
i
n
g
u
g
e
m

d
e

p
r
o
g
r
m
ç
ã
o

In [47]:
texto = """
A inserção de comentários no código do programa é uma prática normal.
Em função disso, toda linguagem de programação tem alguma maneira de permitir que comentários sejam inseridos nos programas.
O objetivo é adicionar descrições em partes do código, seja para documentá-lo ou para adicionar uma descrição do algoritmo implementado (BANIN, p. 45, 2018)."
"""
for i, c in enumerate(texto):
    if c == 'a' or c == 'e':
        print(f"Vogal '{c}' encontrada, na posição {i}")
    else:
        continue

Vogal 'e' encontrada, na posição 6
Vogal 'e' encontrada, na posição 13
Vogal 'e' encontrada, na posição 18
Vogal 'a' encontrada, na posição 45
Vogal 'a' encontrada, na posição 47
Vogal 'a' encontrada, na posição 53
Vogal 'a' encontrada, na posição 61
Vogal 'a' encontrada, na posição 67
Vogal 'a' encontrada, na posição 91
Vogal 'a' encontrada, na posição 98
Vogal 'e' encontrada, na posição 100
Vogal 'e' encontrada, na posição 104
Vogal 'a' encontrada, na posição 111
Vogal 'a' encontrada, na posição 113
Vogal 'e' encontrada, na posição 119
Vogal 'a' encontrada, na posição 122
Vogal 'a' encontrada, na posição 127
Vogal 'a' encontrada, na posição 130
Vogal 'e' encontrada, na posição 132
Vogal 'a' encontrada, na posição 135
Vogal 'e' encontrada, na posição 138
Vogal 'e' encontrada, na posição 141
Vogal 'e' encontrada, na posição 151
Vogal 'e' encontrada, na posição 156
Vogal 'e' encontrada, na posição 166
Vogal 'a' encontrada, na posição 168
Vogal 'e' encontrada, na posição 174
Vogal 'a' encontrada, na posição 190
Vogal 'a' encontrada, na posição 192
Vogal 'e' encontrada, na posição 201
Vogal 'a' encontrada, na posição 209
Vogal 'a' encontrada, na posição 216
Vogal 'e' encontrada, na posição 220
Vogal 'e' encontrada, na posição 227
Vogal 'e' encontrada, na posição 230
Vogal 'a' encontrada, na posição 234
Vogal 'e' encontrada, na posição 237
Vogal 'e' encontrada, na posição 252
Vogal 'a' encontrada, na posição 254
Vogal 'a' encontrada, na posição 257
Vogal 'a' encontrada, na posição 259
Vogal 'e' encontrada, na posição 266
Vogal 'a' encontrada, na posição 278
Vogal 'a' encontrada, na posição 280
Vogal 'a' encontrada, na posição 282
Vogal 'a' encontrada, na posição 289
Vogal 'a' encontrada, na posição 294
Vogal 'e' encontrada, na posição 297
Vogal 'a' encontrada, na posição 309
Vogal 'e' encontrada, na posição 323
Vogal 'e' encontrada, na posição 325
Vogal 'a' encontrada, na posição 328

In [ ]:
salario_mensal = input("Digite o seu salário mensal: ")
salario_mensal = float(salario_mensal)

horas_trabalhadas_por_mes = input("Digite quantas horas você trabalha por mês: ")
horas_trabalhadas_por_mes = int(horas_trabalhadas_por_mes)

salario_por_hora = salario_mensal / horas_trabalhadas_por_mes

print("Seu salario por hora será {:.2f}".format(salario_por_hora))